@use "../styles/abstracts";
@use "../styles/abstracts/functions" as media;
@use "../styles/abstracts/colors" as colors;


.form__wrap  {
  margin-bottom: 72px;

  @include media.desktop {
    margin-bottom: 36px;
  }
}

.form__container {
  width: 100%;
}

.form__wrap_heading {
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: colors.$color1;
  margin-bottom: 15px;

  @include media.desktop {
    font-size: 48px;
    line-height: 60px;
  }

  span {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: colors.$color3;

    @include media.desktop {
      font-size: 48px;
      line-height: 60px;
    }
  }
}


.form__wrap_description {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: colors.$color2;
  margin-bottom: 32px;

  @include media.desktop {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}

.form {
  text-align: center;

  @include media.desktop {
    display: flex;
    text-align: left;
    gap: 16px;
  }

}

.input__wrap {
  background: colors.$color4;
  border: 1px solid colors.$color6;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.0001);
  border-radius: 28px;
  height: 40px;
  padding: 3px 32px;
  margin-bottom: 10px;

  @include media.desktop {
    height: 56px;
    //max-width: 421px;
    width: 100%;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    line-height: 20px;
    color: colors.$color2;
    font-size: 12px;

    @include media.desktop {
      font-size: 16px;
    }

    &::-webkit-input-placeholder { /* WebKit browsers */
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: colors.$color7;

      @include media.desktop {
        font-size: 16px;
      }
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: colors.$color7;

      @include media.desktop {
        font-size: 16px;
      }
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: colors.$color7;

      @include media.desktop {
        font-size: 16px;
      }
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: colors.$color7;

      @include media.desktop {
        font-size: 16px;
      }
    }
  }
}

.btn {
  background: colors.$color5;
  box-shadow: 0 5px 10px 2px rgba(76, 123, 243, 0.230414);
  border-radius: 28px;
  height: 40px;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: colors.$color4;

  @include media.desktop {
    font-size: 16px;
    line-height: 19px;
    height: 56px;
    max-width: 200px;
  }
  
  &:hover {
    @include media.desktop {
      background-color: colors.$color9;
      cursor: pointer;
    }
  }
}

.error__message {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.125px;
  color: colors.$color8;
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;

  @include media.desktop {
    font-size: 12px;
    letter-spacing: 0.15px;
    margin-left: 16px;
  }
}